.borderFlex{
    display: flex;
    flex-direction: row;
}
.borderCenter{
    border-bottom:2px dotted black;
    height: 0px;
    width: 40px;
    z-index:-1;
    margin-top: 15px;;
}
.border{
    border-left: 2px dotted black; /* Толщина, стиль и цвет */
    

}

.perfomrsViewHead{
    margin-top: 40px;
    border-left: 6px solid  red;
    background-color: white;
    }

.perfomrsView{
margin-top: 40px;
z-index: 2;
}

.perfomer{
    border-left: 6px solid  greenyellow;
    background-color: white;
    margin-bottom: 20px;
    height: 40px;
}


.taskNav span {
    margin-right: 20px;
}
.taskNav select {
    margin-right: 20px;
}
.taskNav span.active {
    text-decoration: underline;
    text-decoration-color: yellow; /* Жовте підкреслення для вибраного елемента */
  }



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5); /* більш прозорий білий фон */
    z-index: 1000; /* щоб бути над усім контентом */
    display: flex;
    justify-content: center;
    align-items: center;
  }
.typeFeed{
    color:orange;
}
#typeFeed{
    color:orange;
}
.feedback{
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    font-weight: normal;
    border-radius: 10px;
}

.btnSection{
    margin-top: 120px;
    margin-left: 240px;
}

.btnSection #cancel{
    position: relative;
    left: 10px;
    border-radius: 10px;
}

.btnSection #save{
    background-color: rgb(24, 24, 128);
    color:white;
    border-radius: 10px;
}


.btnSection #save:hover{
        background-color: blue;
        color:white
}




.taskItemMenu {
    width: 800px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gainsboro;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000; /* Забезпечує відображення поверх інших елементів */
}

.tasks{
    font-weight: bold;
    font-size: 20pt;
    border: 2px solid #000000;
    border-radius: 10px;
    position:margin;
    margin-left: 150px;
    margin-right: 50px;
    margin-top:50px;
    table-layout: fixed;
}


.taskItem{
    width: 300px;
    padding-bottom: 20px;
    text-align: center;

}

.taskTable{
    padding-top: 20px;
    border: 2px solid #000000;
    margin: 20px;
    border-radius: 10px;
}

.taskHeaderTable{
background-color: orange;
opacity: 0.9;
border-radius: 10px;
}

.taskTable:hover {
    background-color: bisque
}

.taskFilterMenu {
    position: relative;
    margin-left: 300px;
    margin-top:100px;
    font-size: 16pt;
}

.filterContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filterButton {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.filterButton:hover {
    background-color: #45a049;
}

.radioGroup {
    display: flex;
    gap: 10px;
}

.selectContainer {
    display: flex;
}

select {
    padding: 5px 10px;
    font-size: 16px;
}
