.app-wrapper{
    display:grid;
    grid-template-rows: 60px 1000px; 
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 
    "h h"
    "n c";
    background-color:cornsilk;
}

.header{

    grid-area: h;
    background-color: bisque;
    box-shadow: 5px 5px 5px rgba(181, 111, 6, 0.3);
    position:relative;
    z-index: 3;
    border-radius: 10px;
}
.nav{

    grid-area: n;
    background-color: orange;
    font-size: 30pt;
    box-shadow: 5px 5px 5px rgb(148, 157, 154);;
    position:relative;
    z-index: 3;
    border-radius: 30px ;
    top: 10px;
    bottom: 10px;
    border-top: 10px solid yellow;
    border-bottom: 10px solid yellow;
    padding: 30px;
    opacity: 0.9;
}
.app-wrapper-content{

    grid-area: c;
    background-color:cornsilk;
}

